<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>NutriAgent AI Report</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<section class="about">

<h1>📄 NutriAgent AI Report</h1>

<p>
Final Multi-Agent Nutrition Report
</p>

</section>

<section class="features">

<div class="card">

<h3>📊 Health Agent</h3>

<p>BMI Analysis Completed</p>

<p>Health Status Evaluated</p>

<p>Health Score Generated</p>

</div>

<div class="card">

<h3>🍽 Nutrition Agent</h3>

<p>Daily Calories Calculated</p>

<p>7-Day Meal Plan Generated</p>

<p>Goal Strategy Created</p>

</div>

<div class="card">

<h3>🤖 Decision Agent</h3>

<p>Health Data Reviewed</p>

<p>Goal Analyzed</p>

<p>AI Recommendation Generated</p>

</div>

<div class="card">

<h3>📄 Report Agent</h3>

<p>Insights Combined</p>

<p>Fitness Goal Evaluated</p>

<p>Final Report Generated</p>

</div>

</section>

<section class="about">

<h2>🤖 AI Decision Report</h2>

<div class="form-card">

<p style="line-height:35px; text-align:left; white-space:pre-line;">

{{ ai_result }}

</p>

</div>

</section>

<section class="about">

<h2>🏆 Final Conclusion</h2>

<p>

The Health Agent analyzed BMI, health condition,
and wellness score.

The Nutrition Agent generated a personalized
7-day meal strategy and calorie recommendation.

The Exercise Agent recommended goal-based
physical activities.

The Decision Agent reviewed all collected
information and generated personalized health advice.

The Report Agent combined all findings into
a final nutrition report to support the user's
fitness journey.

</p>

</section>

<div style="text-align:center; margin:40px;">

<a href="/">

<button>
🏠 Back To Home
</button>

</a>

</div>

</body>

</html>
